<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .code {
            font-size: 20pt;
            font-weight: bold;
            color: #03396c;
        }
    </style>
</head>
<body>
<div>
    <p>Olá [[${firstName}]], notamos que vc solicitou a recuperação de senha da sua conta.</p>
    <p>Caso queira continuar continuar com o procedimento, basta copiar o código a seguir na plataforma e inserir a nova senha</p>
    <p class="code">[[${code}]]</p>
    <p>Caso não tenha sido você, desconsidere essa mensagem</p>
</div>
</body>
</html>